html:not(.dark) .theme-default-content.content__default a, 
html:not(.dark) .theme-default-content.content__default a code {
  color: var(--vp-c-active-link) !important;
}

html:not(.dark) .theme-default-content.content__default a span,
html:not(.dark) .theme-default-content.content__default a::after {
  display: none !important;
}

html:not(.dark) .theme-default-content.content__default a:hover {
  text-decoration: underline !important;
}

#hero p.tagline {
  display: block !important;
  margin-top: 0 !important;
}

.theme-container.no-sidebar .navbar .home-link {
  min-width: fit-content !important;
}

.dropdown-wrapper .nav-dropdown {
  background-color: inherit !important;
}
