a code {
  text-decoration: underline;
}

#hero p.tagline {
  display: block !important;
  margin-top: 0 !important;
}

.theme-container.no-sidebar .navbar .home-link {
  min-width: fit-content !important;
}
